:80 {
    handle_path /api/* {
        reverse_proxy {env.API_PROXY_TO} {
            header_up X-Admin-Api-Key {env.TELEMETRY_ADMIN_API_KEY}
        }
    }

    reverse_proxy telemetry-dashboard:3000
}